.ClickBoard-Title {
    color: white;
}

.ClickBoard-Box {
    background: rgb(15, 75, 225);
    border: none;
    border-radius: 2em;
    display: inline-block;
    height: 60vh;
    place-content: center;
    place-items: center;
    position: relative;
    text-align: center;
    width: 60vw;
}

.ClickBoard-Box {
    p {
        color: white;
        font-size: 24px;
        font-weight: bold;
    }
}

.ClickBoard-resetClick {
    background: rgb(140, 165, 230);
    border: none;
    border-radius: 1em;
    display: inline-block;
    height: 6vh;
    margin: 1%;
    width: 10vw;
}

.ClickBoard-resetClick {
    p {
        font-weight: bold;
    }
}

.ClickBoard-mobile {
    display: none;
}

.ClickBoard-Clicks {
    color: white;
    display: inline-block;
    font-size: x-large;
    margin: 1%;
}

@media screen and (max-width: 600px) {

    .ClickBoard-mobile {
        display: inline-block;
    }

    .ClickBoard-resetClick {
        color: black;
        width: 20vw;
    }
}