* {
    margin: 0;
    padding: 0;
}

:root {
    height: 100%;
    place-content: center;
    place-items: center;
    position: relative;
    text-align: center;
}

body {
    background: rgb(5, 10, 40);
}

@media screen and (max-width: 600px) {

    body {
        margin-top: 4vh;
    }

}